.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */
.primary-color {
  color: #4e47ff;
}
.btn-primary {
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  cursor: pointer;
}
button:hover {
  background: orange;
}

/* header styles */
.header {
  background-image: url("../Assets/Hero-bg.png");
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
.nav-title {
  font-size: 34px;
  font-weight: bolder;
}

/* banner styles */
.banner {
  text-align: center;
  justify-content: center;
  padding: 152px 267.5px;
}
.banner-text {
  font-size: 65px;
  font-weight: bold;
}

/* action styles */
.action-section {
  display: flex;
  align-items: center;
  gap: 220px;
  margin: 116px 150px;
}
.action-containt {
}
.action-title {
  font-size: 42px;
  font-weight: bold;
}
.action-description {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
}
.action-image {
  border-radius: 20px;
}

/* Productive Users Section Styles */
.users {
  padding: 50px 142px;
  background-color: rgba(78, 71, 255, 0.1);
  margin: 116px 150px;
  border-radius: 20px;
  text-align: center;
}
.productive-users {
  display: flex;
  justify-content: space-around;
}
.productive-users-title {
  font-size: 38px;
  font-weight: bold;
}
.numbers {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.sub-title {
  font-size: 20;
  color: rgba(0, 0, 0, 0.5);
}

/* let's get in touch styles */

.get-in-touch {
  background-color: rgba(214, 221, 237, 1);
}
.message-section {
  display: flex;
  gap: 115px;
  align-items: center;
  justify-content: space-around;
  margin: 116px 150px;
}
.message-section-title {
  font-size: 97px;
  font-weight: bold;
}
.form {
  /* margin: 497px 490px; */
}
input[type="text"],
input[type="email"],
textarea {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  display: block;
  border: none;
  color: white;
  /* margin-right: 24px; */
}
label {
  /* margin-bottom: 5px; */
}
input {
  /* padding-top: 0; */
  /* padding-bottom: 19px; */
}
